################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClockifyBackup/.vs
/ClockifyBackup/ClockifyBackup/bin
/ClockifyBackup/ClockifyBackup/obj
/ClockifyBackup/ClockifyBackup/App.config
