################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClockifyBackup/.vs/ClockifyBackup/v16/.suo
